*{
	margin: 0;
	font-family: 'Lato', sans-serif;
}
body { 
	height: 100vh;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #212121;
	background-color: white;
}
/* Header */
header {
	display: none;
}
/* Main Page */
.site_content {
	margin: 0;
    min-height: 450px;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 100px 0 100px 0; 
	font-weight: 100;
}
/*Welcome text*/
.site_content .container .hi_block {
	border: solid 1px #000;
	background-color: #fff;
	width: 50%;
	border-radius: 30px;
	font-size: 195%;
	box-shadow: none;
}

.site_content .container .hi_block h3 {
	font-weight: 100;
	color: #212121;
	margin-left: 5%;
	margin-top: 5%;
	font-size: 100%;
	width: 55%;
	border: solid 2px #000;
	border-radius: 30px;
	background-color: white;
	padding: 5px 6px 0 7px;
}

.site_content .container .hi_block p {
	margin: 5%;
	color: #000;
}
/*Create an account button*/
.site_content .container .btn_create {
	display: none;
}
/* Registration */
.site_content .container .reg_window {
	border: solid 1px #000;
	width: 40%;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: none;
	position: static;

}
.site_content .reg_window .reg_title {
	border: solid 1px #000;
	background-color: white;
	width: 80%;
	border-radius: 30px;
	margin: auto;
	margin-top: 7%;
	text-align: center;
	padding: 2% 3% 2% 3%; 
	font-size: 140%;
	font-weight: 100;
}
form {
	display: flex;
	align-items: center;
	flex-direction: column;
}
form fieldset {
	background-color: white;
	width: 80%;
	border-radius: 30px;
	border: none;
	margin: 5% 0 7% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
form fieldset .row {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 3% 0 3% 0;
}
form label {
	margin: 2% 0 2% 0;
	font-size: 130%;
}
input {
	height: 20px;
	border: solid 1px #000;
	border-radius: 100px;
	outline: none;
}
/*Send form button*/
.btn_form {
	display: none;
}
/*Log in button*/
.btn_login {
	text-decoration: underline;
	color: #000;
	border: solid 1px #000;
	width: 40%;
}
/* To-do page */


.container_todo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 100px 0 100px 0;
	font-weight: 100;
}
/*Username*/
.site_content .container_todo .name_of_user {
	margin-bottom: 10px;
}
.site_content .container_todo .name_of_user p {
	font-size: 1.5em;
	color: #000;
}
/*To-do page*/
.site_content .container_todo .todo_block {
	border: solid 1px #000;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: none;
	width: 40%;
	min-height: 200px;
	display: flex;
	flex-direction: column;
}
.site_content .container_todo .todo_block .todo_block_container {
	display: flex;
	flex-direction: column;
}
/*Send task form*/
.site_content .container_todo .todo_block .todo_block_container .sendForm {
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	width: 100%;
	justify-content: center;
}
.site_content .container_todo .todo_block .todo_block_container form .form-control {
	border: solid 1px #000;
	width: 80%;
	height: 25px;
}
/*Send task button*/
.site_content .container_todo .todo_block .todo_block_container form  .sendTask {
	display: none;
}
.site_content .container_todo .todo_block .todo_block_container form  .sendTask img {
	height: 15px;
	width: 15px;
	margin-top: 3px;
}
.site_content .container_todo .todo_block .todo_block_container form  .sendTask:hover {
	border: solid 2px #bbb;
	color: #bbb;
}
.site_content .container_todo .todo_block .todo_block_container form  .sendTask p {
	color: #d1d1d1;
	font-size: 100%;
}
/*To-do list*/
.site_content .container_todo .todo_block .todo_block_container .tasks_container {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.site_content .container_todo .todo_block .todo_block_container ul {
	padding: 0;
}
.site_content .container_todo .todo_block .todo_block_container ul .task_row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
}
/*Task*/
.site_content .container_todo .todo_block .todo_block_container ul .task_row .task_plate {
	list-style-type: none;
	border: solid 1px #000;
	border-radius: 30px;
	background-color: white;
	height: 25px;
	width: 76%;
	margin-bottom: 10px;
	color: #000;
	display: flex;
	flex-flow: row wrap;
	padding-top: 2px;
	padding-left: 3px;

}
/*Crossed task*/
.site_content .container_todo .todo_block .todo_block_container ul .task_row .task_plate_crossed {
	list-style-type: none;
	border: solid 2px #000;
	border-radius: 30px;
	background-color: white;
	height: 25px;
	width: 76%;
	margin-bottom: 10px;
	color: #000;
	display: flex;
	flex-flow: row wrap;
	padding-top: 2px;
	padding-left: 3px;
	text-decoration: line-through;
	text-decoration-color: #000;
}
/*Delete button*/
.site_content .container_todo .todo_block .todo_block_container ul .task_row .task_plate .a_del {
	display: none;

}
/*Update task form*/
.site_content .container_todo .todo_block .todo_block_container .tasks_container .updForm {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;

}
/*Update task button*/
.site_content .container_todo .todo_block .todo_block_container .tasks_container .updForm .updTsk {
	border: solid 2px #d1d1d1;
	border-radius: 30px;
	background-color: white;
	height: 25px;
	width: 76%;
	color: #000;
	margin-left: 3%;
	font-size: 100%;
	font-weight: 100;
	padding-left: 3px;
}
/*Delete task button*/
.del {
	display: none;
}
/*Done task button*/
.done {
	display: none;
}
/*Update task  button*/
.upd {
	display: none;
}
/*Save task button*/
.save {
	display: none;
}
/*Paging*/
.paging {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px 0 10px 0;
}
.paging a {
	height: 20px;
	width: 20px;
	background-color: white;
	border: solid 2px #d1d1d1;
	border-radius: 30px;
	text-decoration: none;
	color: #d1d1d1;
	margin: 0 10px 0 10px;
	padding: 0;

}
.paging a p {
	margin: 3px 0 0 5px;
}
 /* Footer */
footer {
	display: none;
}
/*Changing themes*/
.theme {
	display: none;
}







